@font-face {
  font-family: 'Title';
  src: url('./assets/font/WhiteChalk.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Body';
  src: url('./assets/font/ChalkBoard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.chalk-title {
  font-family: 'Title', cursive;
  color: white;
  font-size: 70px;
}

.chalk-text {
  font-family: 'Body', cursive;
  color: white;
}