html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: 'Title';
  src: url('./assets/font/WhiteChalk.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Body';
  src: url('./assets/font/ChalkBoard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.chalk-title {
  font-family: 'Title', cursive;
  color: white;
  font-size: 70px;
}

.chalk-text {
  font-family: 'Body', cursive;
  color: white;
}